@charset "UTF-8";
.l {
    float: left;
}
.r {
    float: right;
}
.dn {
    display: none;
}
.db {
    display: block;
}
.dib {
    display: inline-block;
}
.ovh {
    overflow: hidden;
}
.pct100 {
    width: 100%;
}
.g3 {
    color: #333;
}
.wh {
    color: #fff;
}
.g9 {
    color: #999;
}
.g29b {
    color: #29b078;
}
.bg29b {
    background-color: #29b078;
}
.bgwh {
    background-color: #fff;
}
.tc {
    text-align: center;
}
.b {
    font-weight: bold;
}
.tdn {
    text-decoration: none;
}
body {
    background: #fafafa;
    font-family: "Microsoft YaHei", serif;
    font-size: .14rem;
}
h2 {
    padding: .2rem;
    font-size: .18rem;
    text-align: center;
    font-weight: bold;
    color: #333;
}
a:link,
a:visited,
a:hover,
a:active {
    color: #fff;
    text-decoration: none;
}
.header-top p {
    line-height: .4rem;
    color: #29b078;
}
.icon-header li {
    float: right;
    padding: .08rem .05rem;
}
@media screen and (max-width: 768px) {
    .header-top p {
    }
}
.icon-header1-weixin {
    width: 25px;
    height: 24px;
    margin-right: .06rem;
    background: url("sprite.png") -62px -113px;
}
.icon-header1-qq {
    width: 25px;
    height: 24px;
    margin-right: .06rem;
    background: url("sprite.png") -99px 0;
}
.icon-header1-weibo {
    width: 25px;
    height: 24px;
    margin-right: .06rem;
    background: url("sprite.png") -99px -26px;
}
footer {
    overflow: hidden;
    margin-top: .5rem;
    background: #26a26f;
    color: #fff;
}
.footer-top {
    width: 100%;
    background-color: #fff;
    color: #999;
}
.link ul li {
    float: left;
    width: .9rem;
    margin: .1rem;
    font-size: .14rem;
    line-height: .44rem;
    color: #999;
    list-style-type: disc;
}
.link a {
    color: #999;
}
.footer-middle-left p {
    padding-top: .36rem;
    font-size: .16rem;
}
.footer-middle-left ul {
    float: left;
    padding-top: .6rem;
}
.footer-middle-left ul li {
    display: inline-block;
}
.footer-middle-middle p {
    font-size: .16rem;
    padding-top: .36rem;
    padding-bottom: .2rem;
}
.footer-middle-middle ul {
    overflow: hidden;
}
.footer-middle-middle ul li {
    float: left;
    margin: .1rem 0;
    padding-right: .34rem;
}
.footer-middle-right p {
    font-size: .16rem;
    padding-top: .36rem;
    padding-bottom: .06rem;
}
.footer-bottom {
    width: 100%;
    height: .3rem;
    margin-top: .2rem;
    text-align: center;
    font-size: .12rem;
    line-height: .3rem;
    color: #fff;
    background: #26a26f;
    border-top: 1px #32c086 solid;
}
