@charset "UTF-8";

.wrap {
    overflow: hidden;
    background-color: #29bde0;
}

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 17px 16px 17px;
    background-color: #29bde0;
    border-bottom: 1px solid #74d4eb;
}

header span{
    font-size: 34px;
    line-height: 50px;
    color: #fff;
}

.main {
    font-size: 0;
}

.play {
    float: right;
    margin-top: 29px;
    margin-right: 53px;
}

.crying {
    margin: -32px 192px 60px;
}

#death-note{
    min-height: 100px;
    padding-bottom: 65px;
    font-size: 27px;
    text-align: center;
    line-height: 37px;
    color: #fff;
}

#change{
    border-top: solid 1px #87daee;
}

.last-words{
    width: 415px;
    margin: 34px auto 0;
    font-size: 34px;
    line-height: 60px;
    text-align: center;
    color: white;
    background-color: #24a7c6;
}

.arrow{
    display: block;
    margin: 0 auto;
}

button{
    display: block;
    width: 492px;
    margin: 9px auto 60px;
    font-size: 40px;
    line-height: 86px;
    text-align: center;
    color: white;
    background-color: #fab344;
}
