html{
    font-size: 100px;
}
@media only screen and (max-width: 320px){
    .content .details .right{
        width:30%;
    }
}
body{
    font-size: 0.18rem;
    background-color: #fff;
}
.red{
    color:#e26163;
}
/* flex布局 */
.page{
    display:-webkit-box;
    display:-moz-box;
    -moz-box-orient:vertical;
    -webkit-box-orient:vertical;
    height:100%;
}
/*flex头部*/
.header{
    display:-webkit-box;
    height: 0.42rem;
    background-color: #5fc0cd;
}
.header *{
    display: block;
    text-align: center;
}
.header>h2{
    -webkit-box-flex:6;
    -webkit-flex:1;
    flex:1;
    font-size: 0.16rem;
    line-height: 0.43rem;
    font-family:"Microsoft YaHei","Helvetica Neue",Helvetica,STHeiTi,sans-serif;
    color:#fff;

}
.header>span{
    -webkit-box-flex:1;
    -webkit-flex:1;
    flex:1;
}
.header>.null{
    width: 0;
    height: 0;
}
.head-back{
    position:relative;
    margin-left: 0.15rem;
    margin-top: 0.08rem;
    height:20px;
    width:20px;
}
.demoSpan1{overflow:hidden; width:12px;}
.demoSpan1:before{
    position:absolute;
    top:3px;
    left:3px;
    content:'';
    height:10px;
    width:10px;
    display:block;
    border:2px solid #fff;
    border-right-width:0;
    border-bottom-width:0;
    transform:rotate(-45deg);
    -webkit-transform:rotate(-45deg);
    -moz-transform:rotate(-45deg);
    -ms-transform:rotate(-45deg);
    -o-transform:rotate(-45deg);
}
/*flex内容区*/
.page .content{
    position:relative;
    -webkit-box-flex:1;
    -webkit-flex:1;
    flex:1;
    overflow: auto;
    -webkit-overflow-scrolling:touch;
}
/*信息简介区*/
.content .summary{
    position: relative;
    height: 1.64rem;
    background:url(background.png)  center no-repeat;
    background-size: cover;
}
.summary .person{
    margin:0.4rem 0 0 0.15rem
}
.summary .ads{
    position: absolute;
    top:0.9rem;
    left:1.2rem;

}
.summary>.head-info{
    color:#fff
}
.summary>.head-info span{
    font-size: 0.14rem;
    line-height: 0.14rem;
}
.summary .head-info>.name{
    margin: 0.58rem 0 0 0.2rem;
    line-height: 0.18rem;
}
.summary .head-info>.address{
    margin:0.12rem 0 0 0.37rem;
    font-size: 0.12rem;
    line-height: 0.12rem;

}
/*公共样式*/
.content {
    font-size: 0.16rem;
    line-height: 0.16rem;
    margin-bottom: 0.6rem;
}
.content .row{
    margin-left: 0.08rem;
    padding: 0.17rem 0 0.17rem 0.15rem;
    border-bottom: 1px solid #e1e5e7;
    font-size: 0.16rem;
    line-height: 0.16rem;
}
.content .details:last-child{
    padding: 0.17rem 0 0.17rem 0.23rem;
    border-bottom: 1px solid #e1e5e7;
    font-size: 0.16rem;
    line-height: 0.16rem;
}
/*专业技能*/
.ability{
    padding: 0.17rem 0;
    border-bottom: 1px solid #e1e5e7;
    font-size: 0.16rem;
    line-height: 0.16rem;
}
.ability .blue-line{
    margin: 0 0.12rem 0 0.08rem;
    display: inline-block;
    height: 0.13rem;
    width:0;
    border-left: 2px solid #5fc0cd;
}
/*福利待遇*/
.content .gray-line{
    margin-right: 0.08rem;
    display: inline-block;
    height: 0.13rem;
    width:0;
    border-left: 1px solid #e1e5e7;
}
.benefits{
    vertical-align: middle;
}
.benefits>div{
    display: inline-block;
    padding-left: 0.16rem;
    background: url("star.png") left center no-repeat;
}
.benefits .ab-span1{
    margin-right: 0.09rem;
}
.benefits .star{
    font-weight: bold;
    color: #e26163;
}
/*详细信息*/
.content .details *{
    font-size: 0.16rem;
    vertical-align: middle;
}

.content .details>div{
    display: inline-block;
}
.content .details .left{
    color:#e1e5e7;
}
.content .details .right{
    width:65%;
}
.content .details .gray-line{
    margin:0 0.15rem 0 0.12rem;
    display: inline-block;
    height: 0.13rem;
    width:0;
    border-left: 1px solid #e1e5e7;
}

/*flex底部，按钮平均分布*/
.footer{
    display:-webkit-box;
    height: 0.56rem;
    line-height: 0.56rem;
    /*overflow: hidden;*/
}
.footer>div{
    width: 47%;
}
.footer .left{
    padding:0 1% 0 2%;
}
.footer .right{
    padding:0 2% 0 1%;

}
.footer button{
    display: block;
    height: 0.44rem;
    width: 100%;
    font-size: 0.18rem;
    border:1px solid #5fc0cd;
    border-radius: 4px;
    box-sizing: border-box;
    text-align:center;
    color:#6a6f77;
    -web-kit-appearance:none;
    -moz-appearance: none;
    outline:0;
    text-decoration:none;

}
.footer .foot-message{

    background-color: #fff;
    color:#5fc0cd;
}
.footer .foot-phone{
    background-color: #5fc0cd;
    color: #fff;
}
