@charset "UTF-8";

.wrap {
    position: relative;
    width: 100%;
    height: 31.25vw;
    overflow: hidden;
}

.slider {
    width: 400%;
    height: 100%;
    margin-left: 0;
    -webkit-animation:slide1 15s infinite;
}

.slider li {
    float: left;
    width: 25%;
    height: 100%;
}

@-webkit-keyframes slide1{
    0%{ margin-left:0 }
    13%{ margin-left:0 }
    25%{ margin-left:-100% }
    38%{ margin-left:-100% }
    50%{ margin-left:-200% }
    63%{ margin-left:-200% }
    75%{ margin-left:-300% }
    88%{ margin-left:-300% }
    100%{ margin-left:0 }
}

@-webkit-keyframes slide2 {
    0%{ margin-left:-100% }
    13%{ margin-left:-100% }
    25%{ margin-left:-200% }
    38%{ margin-left:-200% }
    50%{ margin-left:-300% }
    63%{ margin-left:-300% }
    75%{ margin-left:0 }
    88%{ margin-left:0 }
    100%{ margin-left:-100% }
}

@-webkit-keyframes slide3{
    0%{ margin-left:-200% }
    13%{ margin-left:-200% }
    25%{ margin-left:-300% }
    38%{ margin-left:-300% }
    50%{ margin-left:0 }
    63%{ margin-left:0 }
    75%{ margin-left:-100% }
    88%{ margin-left:-100% }
    100%{ margin-left:-200% }
}

@-webkit-keyframes slide4{
    0%{ margin-left:-300% }
    13%{ margin-left:-300% }
    25%{ margin-left:0 }
    38%{ margin-left:0 }
    50%{ margin-left:-100% }
    63%{ margin-left:-100% }
    75%{ margin-left:-200% }
    88%{ margin-left:-200% }
    100%{ margin-left:-300% }
}

/*修改动画名称*/
#l01:checked ~ .wrap .slider {
    -webkit-animation-name:slide1;
}

#l02:checked ~ .wrap .slider {
    -webkit-animation-name:slide2;
}

#l03:checked ~ .wrap .slider {
    -webkit-animation-name:slide3;
}

#l04:checked ~ .wrap .slider {
    -webkit-animation-name:slide4;
}

/*短暂地取消动画名称，模拟重启动画*/
#l01:active ~ .wrap .slider {
    -webkit-animation-name:none;
    margin-left:0;
}

#l02:active ~ .wrap .slider {
    -webkit-animation-name:none;
    margin-left:-100%;
}

#l03:active ~ .wrap .slider {
    -webkit-animation-name:none;
    margin-left:-200%;
}
#l04:active ~ .wrap .slider {
    -webkit-animation-name:none;
    margin-left:-300%;
}

.opts {
    position: absolute;
    left: 50%;
    bottom: 10px;
    z-index: 999;
    width:60%;
    margin-left: -30%;
    font-size: 0;
    text-align:center;
}

.opts li {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 0 2px;
    text-indent: -999px;
    cursor: pointer;
    background-color: #000 \9;
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid #fff;
    border-radius: 10px;
}

.opts li:hover {
    background-color: #fff;
}

/* 隐藏Input按钮*/
#l01,#l02,#l03,#l04{
    display:none;
}
