@charset "UTF-8";

.main-middle-1 {
    overflow: hidden;
    margin: 0 auto;
    background: #fafafa;
}

.main-middle-1 .row {
    overflow: hidden;
    width: 100%;
    margin: 1.6rem 0.05rem 1.2rem;
}

.advantage {
    vertical-align: top;
    text-align: left;
}

@media screen and (max-width: 992px){
    .advantage {
        text-align: center;
    }
}

.efficient {
    margin: 0 auto;
    width: 43px;
    height: 62px;
    background: url("sprite.png") no-repeat 0 0;
}

.normalized {
    margin: 0 auto;
    width: 60px;
    height: 62px;
    background: url("sprite.png") no-repeat 0 -64px;
}

.contacts {
    margin: 0 auto;
    width: 52px;
    height: 62px;
    background: url("sprite.png") no-repeat -45px 0;
}

.main-middle-1-right {
    padding: 0.48rem 0 0.2rem 0.5rem;
    border-left: 3px dashed #dedede;
}

.main-middle-1 p {
    font-size: 0.16rem;
    color: #999;
    line-height: 0.42rem;
}

.main-middle-1-right .top {
    padding-bottom: 0.2rem;
}

.main-middle-1-right p {
    font-size: 0.18rem;
    line-height: 0.3rem;
    margin-bottom: 0.2rem;
    color: #999
}

.main-middle-1-right .user {
    display: inline-block;
    width: 13px;
    height: 13px;
    margin-right: 0.1rem;
    background: url("sprite.png") no-repeat -126px -52px;
}

.main-middle-1-right span {
    font-size: 0.18rem;
    line-height: 0.3rem;
    font-weight: normal;
    color: #26a26f;
}

.main-middle-2 {
    margin: 0 auto;
}

.list {
    width: 100%;
    padding: 0.22rem 0;
}

.list li {
    display: inline-block;
    vertical-align: middle;
    padding:0 0 0.96rem;
}

.main-middle-2 span {
    margin-right: 0.16rem;
}

.list p {
    display: inline-block;
    vertical-align: middle;
    width: 1.5rem;
    text-align: left;
    font-size: 0.14rem;
    color: #999;
}

.arrow {
    display: inline-block;
    vertical-align: middle;
    width: 28px;
    height: 26px;
    background: url("sprite.png") no-repeat -91px -112px;
}

.circle {
    display: inline-block;
    vertical-align: middle;
    width: 0.7rem;
    height: 0.7rem;
    font-size: 0.18rem;
    line-height: 0.7rem;
    text-align: center;
    color: #29b078;
    background: #fff;
    border-radius: 0.35rem;
    box-shadow: 1px 1px 1px #e6e6e6;
}

.show li {
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    padding: 0.2rem;
}

.show-1 {
    border: 1px #eeeded solid;
    padding: 0.2rem;
    background: #fff;
}

.avatar {
    margin-bottom: 0.14rem;
}

.show p {
    padding: 0.09rem;
    text-align: left;
    font-size: 0.16rem;
    line-height: 0.26rem;
    color: #999;
}

.more {
    width: 0.8rem;
    height: 0.2rem;
    margin: 2% auto;
    font-size: 0;
    content: '';
}

.circle-2 {
    display: inline-block;
    margin-right: 0.05rem;
    width: 0.13rem;
    height: 0.13rem;
    background: #fff;
    border-radius: 0.065rem;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    box-shadow: 1px 1px 1px #ccc;
}

.circle-2:hover {
    background: #29b078;
}

.main-bottom {
    margin: 0 auto;
    overflow: hidden;
}

.main-bottom .row {
    background: #fff;
    padding-bottom: 0.05rem;
    margin-bottom: 0.4rem;
}

.img-bg {
    margin: 0.05rem 0;
}

.img-bg:hover {
    border-radius: 3px;
    box-shadow: -1px 0px 16px 2px #ccc;
}



