body, div, ul, li, h1, h2, h3, h4, h5, h6, input, form, textarea {
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 3.2em;
    font-family: "Heiti TC", serif;
    min-width: 320px;
}

img {
    max-width: 100%;

}

ul {
    list-style: none;
}

@media screen and (max-width: 480px) {
    html {
        font-size: 40%;
    }
}
