* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 100px;
    font-family: "Microsoft Yahei", serif;
}

body {
    margin: 0 auto;
    width: 100%;
    max-width: 640px;
    font-size: 16px;
}

button {
    border: none;
    outline: none;
    cursor: pointer;
}

a, a:visited, a:hover, a:link {
    text-decoration: none;
    cursor: pointer;
}

li {
    list-style-type: none;
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    max-width: 640px;
    height: 0.75rem;
    line-height: 0.75rem;
    font-size: 0.3rem;
    text-align: center;
    color: #fff;
    background-color: #29bde0;
    z-index: 1;
    border-bottom: solid 2px #74d4eb;
}

header > a:nth-child(1) > img {
    position: absolute;
    left: 0.23rem;
    top: 50%;
    margin-top: -0.21rem;
}

header > a:nth-child(2) > img {
    position: absolute;
    right: 0.23rem;
    top: 50%;
    margin-top: -0.18rem;

}

main {
    padding-top: 0.95rem;
    background-color: #29bde0;
    margin-bottom: 1.8rem;
}

.tip {
    position: relative;
    padding: 0.2rem 8%;
    font-size: 0.24rem;
    color: #464646;
    background-color: #b9e9f5;
}

.tip:after {
    content:'';
    display: block;
    position: absolute;
    border-top: 15px solid #b9e9f5;
    border-bottom: 15px solid transparent;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    bottom: -28px;
}
.player-wrap {
    box-sizing: border-box;
    display: inline-block;
    margin: 9% 0 6% 4.6%;
    width: 27%;
    background-color: #f5c97b;
    cursor: pointer;
    border: 5px solid #fff;
    background-size: auto 100%;
}
/*.test {*/
    /*font-size: 100px;*/
/*}*/
.role {
    margin: 30% 0 30% 0;
    font-size: 0.3rem;
    color: #000;
    text-align: center;
}

.player-wrap:hover .role {

}

.number {
    font-size: 0.18rem;
    text-align: center;
    color: #fff;
    background-color: rgba(62, 165, 198, 0.66);
}

footer {
    position: fixed;
    box-sizing: border-box;
    bottom: 0;
    width: 100%;
    max-width: 640px;
    padding: 0.37rem 0.75rem 0.58rem 0.75rem;
    background-color: #29bde0;
}

footer > button {
    width: 100%;
    height: 0.86rem;
    font-size: 0.23rem;
    letter-spacing: 0.05rem;
    color: #fff;
    background-color: #fbb435
}
