@charset "UTF-8";
.l {
    float: left;
}
.r {
    float: right;
}
.dn {
    display: none;
}
.db {
    display: block;
}
.dib {
    display: inline-block;
}
.ovh {
    overflow: hidden;
}
.pct100 {
    width: 100%;
}
.auto {
    margin-left: auto;
    margin-right: auto;
}
.g3 {
    color: #333;
}
.wh {
    color: #fff;
}
.g9 {
    color: #999;
}
.g29b {
    color: #29b078;
}
.bg29b {
    background-color: #29b078;
}
.bgwh {
    background-color: #fff;
}
.tc {
    text-align: center;
}
.tl {
    text-align: left;
}
.b {
    font-weight: bold;
}
.vm {
    vertical-align: middle;
}
.tdn {
    text-decoration: none;
}
.catalog {
    margin-left: auto;
    margin-right: auto;
    padding: .3rem 0;
}
.catalog li {
    display: inline-block;
}
.catalog li a {
    font-size: .16rem;
    color: #333;
}
.catalog li span {
    color: #29b078;
}
.main {
    overflow: hidden;
}
.sidebar {
    background-color: #fff;
    border: 1px #ededed solid;
    border-radius: .04rem;
    box-shadow: 0 2px 5px #ddd;
    padding-bottom: .2rem;
}
.sidebar li {
    line-height: .5rem;
    font-size: .14rem;
}
@media screen and (max-width: 768px) {
    .sidebar .change {
        display: inline-block;
        width: 49%;
    }
}
.sidebar h2 {
    margin: 0;
    padding: 0;
    font-size: .16rem;
    line-height: .6rem;
    text-align: center;
    color: #333;
    border-bottom: 1px #e6e6e6 solid;
}
.sidebar .circle {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin-right: .05rem;
    background: url("sprite.png") no-repeat -126px 0;
}
.sidebar li .active {
    background: url("sprite.png") no-repeat -126px -26px;
}
.sidebar li:hover .circle {
    background: url("sprite.png") no-repeat -126px -26px;
}
.sidebar a {
    padding-left: 35%;
    font-size: .14rem;
    color: #29b078;
}
.sidebar a:hover {
    color: #ff650e;
}
.detail {
    margin-bottom: 1.5rem;
    font-size: .14rem;
    line-height: .3rem;
    background-color: #fff;
    border: 1px #e6e6e6 solid;
    border-radius: 4px;
    box-shadow: 0 2px 5px #ddd;
}
@media screen and (min-width: 768px) {
    .detail {
        margin-left: 8.3%;
    }
}
.first {
    margin-left: auto;
    margin-right: auto;
    padding: .3rem 0;
    font-size: .14rem;
    line-height: .3rem;
    color: #999;
    border-bottom: 1px #e6e6e6 solid;
}
.first img {
    float: left;
    margin: .4rem;
}
.detail p {
    padding: .2rem;
    text-indent: .28rem;
    color: #999;
}
.detail .last {
    padding-bottom: 1.7rem;
}
