* {
    padding: 0;
    margin: 0;
}

body {
    max-width: 640px;
    margin: 0 auto;
    font-size: 62.5%;
}

header {
    width: 100%;
    max-width: 640px;
    margin: 0 auto;
    text-align: center;
    position: fixed;
    top: 0;

}

.head {
    background: #5fc0cd;

}

.xlcd {

    background-color: white;
    text-align: center;
    font-size: 0.3rem;
    border-bottom: 1px solid #e1e5e7;
    color: #999999;

}

.s1 {
    width: 2rem;
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
    border: none;

}

.s2 {
    width: 2rem;
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
    border: none;
    border-left: 1px solid #e1e5e7;
}

.s3 {
    width: 2rem;
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
    border: none;
    border-left: 1px solid #e1e5e7;
}

.a {
    float: right;
    width: 0.4rem;
    height: 0.4rem;
    margin-top: 0.4rem;
    margin-right: 0.3rem;
}

main {

    font-size: 0.25rem;
    margin-top: 30%;
    margin-bottom: 35%;

}

.main1 {
    padding: 2% 3%;
    border-bottom: 1px solid #e1e5e7;
}

span {
    float: right;
    color: red;

}

p {
    color: #999999;
}

.p1 {
    color: #0f0f0f;
    padding-left: 0.4rem;
}

.main2 {
    padding: 2% 3%;
    border-bottom: 1px solid #e1e5e7;
}

.main3 {
    padding: 2% 3%;
    border-bottom: 1px solid #e1e5e7;
}

.main4 {
    padding: 2% 3%;
    border-bottom: 1px solid #e1e5e7;
}

footer {
    width: 100%;
    max-width: 640px;
    position: fixed;
    bottom: 0;
    background-color: white;
}

.foot {

    text-align: center;

}

.left {
    background: url("./master.png") no-repeat;
    height: 80px;
    width: 46px;
    background-position: -61px 0;
    display: inline-block;

}

.ok {
    background: url("./master.png") no-repeat;
    height: 94px;
    width: 94px;
    background-position: -120px 0;
    display: inline-block;
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 2%;

}

.right {
    background: url("./master.png") no-repeat;
    height: 83px;
    width: 42px;
    background-position: 0 0;
    display: inline-block;
}

