@charset "utf-8";

body {
    width: 100%;
    margin: 0 auto;
}

.header {
    position: relative;
    overflow: hidden;
    width: 100%;
    padding: 1.5% 0;
    font-size: 3.4rem;
    text-align: center;
    color: #fff;
    background: #5fc0cd;
}

.btn {
    float: left;
    width: 100%;
}

button {
    padding: 1% 2%;
    font-size: 3.4rem;
    line-height: 1.5;
    border-radius: 8.77%;
    border: 1px solid #5fc0cd;
}

.employer {
    color: #fff;
    background: #55a8b3;
}

.nurse {
    color: #5fc0cd;
    background: #fff;
    margin-left: -0.7%;
}

.header-location {
    position: absolute;
    right: 4.17%;
    top: 25%;
    width: 5.83%;
}

.drop {
    height: 66px;
    line-height: 66px;
    font-size: 2.8rem;
    color: #999;
}

.main {
    width: 100%;
}

.main .content {
    float: left;
    width: 100%;
}

.main .content li {
    padding: 3% 0 3% 4.17%;
    color: #999;
}

.date {
    padding-bottom: 1%;
}

.date img {
    margin-right: 2%;
}

.detail {
    padding-bottom: 1%;
    overflow: hidden;
}

.detail .period {
    float: left;
    width: 50%;
    margin-left: 6%;
    color: #333;
}

.detail .price {
    float: left;
    width: 30%;
    padding-left: 5%;
    color: #e63b0e;
    text-align: center;
}

.detail .forward {
    float: left;
}

.detail .forward img {
    float: right;
}

.main-location img {
    margin-right: 2%;
}

.nav {
    position: fixed;
    width: 100%;
    height: 15%;
    text-align: center;
    bottom: 0;
    background: #f8fafb;
    border-top: 1px solid #e1e5e7;
}

.nav span {
    display: block;
    padding: 2% 0 0;
    font-size: 2rem;
}

.span-left {
    color: #5FC0CD;
}

.span-right {
    color: #999;
}

