/*主要内容部分-列表页*/
div.search {
    border: 1px solid #cccccc;
    border-radius: 3px;
    background: #ffffff;
    padding: 0.1rem 0.3rem ;
    min-width: 2rem;
}
div.col-lg-4 {
    margin-bottom: 0.2rem;
    font-size: 14px;
}
span.intro {
    font-size: 14px;
    font-weight: bold;
    padding-right: 0.35rem;
}
div.search input[type=text] {
    height: 0.3rem;
    border: 1px solid #cccccc;
    border-radius: 3px;
    min-width: 2rem;
    font-size: 14px;
}
div.search select {
    padding-left: 0.1rem;
    height: 0.3rem;
    border: 1px solid #cccccc;
    border-radius: 3px;
    min-width: 2rem;
    font-size: 14px;

}
div.search select option {
    font-size: 14px;
}
@media only screen and (max-width: 1010px) {
    div.search input[type=text] {
        min-width: 0;
        width: 100%;
    }
    div.search select {
        min-width: 0;
        width: 100%;
    }
}
div.btn0 {
    float: right;
    outline: none;
    font-size: 14px;
}
.btn0 button {
    height: 0.35rem;
    width: 0.55rem;
    border: none;
    border-radius: 3px;
    color: #ffffff;
    font-size: 14px;
}
#btn1 {
    background: #c9302c;
}
#btn2 {
    background: #5cb85c;
}
/*列表数据页*/
div.list {
    margin-top: 0.2rem;
    border: 1px solid #cccccc;
    border-radius: 3px;
    background: #ffffff;

}
div.title {
    padding: 0.1rem 0.3rem ;
    border-bottom: 1px solid #cccccc;
    font-size: 14px;
    font-weight: bold;
    background: #f5f5f5;


}
#btn3 {
    float: right;
    height: 0.22rem;
    width: 0.42rem;
    background: #5cb85c;
    border: none;
}
#btn3 a{
    display: block;
    font-size: 12px;
    color: #ffffff;
}
div.data {
    padding: 0.1rem 0.3rem ;
    overflow-x: auto;
}
div.content-list {
    border: 1px solid #cccccc;
    overflow-x: auto;
}
table.table {
    margin: 0;
}
tr.table-title {
    padding-left: 0.2rem;

}
th {
    font-size: 14px;
    font-weight: bold;
    text-align: center;
}
td {
    font-size: 14px;
    text-align: center;
}

table.table > tbody > tr > td {
    vertical-align: middle;
}
td span {
    display: inline-block;
    padding: 0 0.1rem;
    font-size: 12px;
    cursor: pointer;
    color: #337ab7;
}
td span:hover {
    color: #000000;
}

/*分页中的格式*/
.page-list { font-size: 16px;
    float: right
}
.page-list .pagination {
    float:left;
}

.page-list .pagination span {
    cursor: pointer;
    margin: 0 5px
}
.page-list .pagination .separate span{
    cursor: default;
    border-top:none;
    border-bottom:none;
}
.page-list .pagination .separate span:hover {
    background: none;
}
.page-list .page-total {
    float:left;
    margin: 25px 15px
}
.page-list .page-total input {
    height: 26px;
    border: 1px solid #ddd;
    text-align: center;
    width: 40px;}
.page-list .page-total a {
    margin-left: 10px;
    padding: 5px;
    border: 1px solid #cccccc;
    color: #337ab7;
    background: #ffffff;
    cursor: pointer;
}
.no-items {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: calc(100% - 0.6rem);
    margin: 0.1rem 0.5rem 0.1rem 0.1rem;
    padding: 0.4rem 0;
    text-align: center;
}