
/*Article详情页部分*/
form.content-details {
    font-size: 14px;
    padding: 0.1rem 1rem;
}
div.details {
    margin: 0.15rem 0;
}
div.details form {
    display: none;
}

div.details input {
    width: calc(100% - 110px);
    height: 35px;
    border-radius: 5px;
    border: 1px solid #cccccc;
    padding-left: 10px;
}
.stars {
    color: #ff0000;
}
.conceal {
    visibility: hidden;
}
/*说明部分*/
div.details-content {
    position: relative;
}
div.wangEditor-container {
    display: inline-block;
    width: calc(100% - 110px);
    min-height: 80px;
    border-radius: 5px;
    border: 1px solid #cccccc;
    margin-left: 103px;
}
#intro-title2 {
    padding: 0;
    margin: 0;
    min-height: 100px;
}
#details-content {
    display: inline-block;
    position: absolute;
    left: 6px;
    top: 50%;
    transform: translateY(-50%);
}

/**/
#intro-select,
#intro-select-ch {
    width: 140px;
    height: 35px;
    border-radius: 5px;
    border: 1px solid #cccccc;
}
#intro-select-ch {
    margin-left: 60px;
}

#intro-img {
    display: none;
}
label.selectFile {
    display: inline-block;
    /*margin-left: -7px;*/
    border-radius: 5px;
    width: 80px;
    height: 35px;
    max-width: 80px;
    line-height: 35px;
    font-weight: normal;
    text-align: center;
    background: #337ab7;
    color: #ffffff;
    cursor: pointer;
}
label.selectFile:hover {
    background: #286090;
}
.details > img {
    width: 100%;
    padding-left: 103px;
}
div.details > p {
    padding-left: 103px;
}
div.details table{
    margin-left: 103px;
    width: calc(100% - 110px);
}

div.details-button {
    margin-top: 40px;
    padding-left: 103px;
}
button.btn-default {
    float: right;
}
td.up-de span{
    padding: 0 2px;
    color: #ffffff;
}

@media only screen and (max-width: 1040px) {
    div.details input {
        width: 100%;
    }
    #details-content {
        position: static;
        width: 100%;
        margin-left: 6px;
    }
    div.wangEditor-container {
        display: block;
        width: 100%;
        margin-left: 0;
    }
    div.details > p {
        padding-left: 0;
    }
    div.content-details {
        font-size: 14px;
        padding: 0.1rem;

    }
    .details span.intro {
        display: inline-block;
        width: 100%;
    }
    #intro-select,
    #intro-select-ch {
        width: 100%;
        margin: 0;
    }
    .details > img {
        width: 100%;
        padding-left: 0;
    }
    div.details table{
        margin-left: 0;
    }
    div.details-button {

        padding-left: 0;
    }
}