
/*登录页css部分*/
div.wrapper {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    /*background: #232a3a;*/
    background: url("6.jpg") no-repeat;
    background-size: 100vw 100vh;
}
div.col-md-4 {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    border-radius: 5px;
    min-height: 3rem;
    text-align: center;
    background: #D9CF4B;
}
div.logo {
    height: .4rem;
}
.img-circle {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%,-50%);
    box-shadow: 0 -3px 8px 0 #000000;
}
div.content {
    margin-top: .3rem;
}
.icon1,
.icon2 {
    position: absolute;
    left: .3rem;
    top: 40%;
    transform: translateY(-50%);
    padding-right: 0.05rem;
    height: .2rem;
    font-size: 20px;
    font-weight: bolder;
    color: #7c7c7c;
}
.user,
.password {
    position: relative;
    margin: .15rem auto .3rem;
    height: .45rem;
}
p.tips1,
p.tips2 {
    margin: 0.05rem 0;
    padding-left: .7rem;
    height: .15rem;
    font-size: 14px;
    text-align: left;
    color: #ff0000;
}
#user,
#password {
    height: .45rem;
    width: 90%;
    margin: 0 auto;
    border: 1px solid #cccccc;
    font-size: 18px;
    background: #ffffff;
    padding-left: .4rem;
    color: #fd9f2a;
}
#log-in {
    margin-top: 0.05rem;
    width: 90%;
    height: .35rem;
    background: #518ac2;
    color: #fdfffb;
    outline: none;
    border: none;
}
#log-in[disabled] {
    background: #0ecc18;
}