/*@media only screen and (max-width: 768px) {*/
    /*body {*/
        /*max-width: 450px;*/
    /*}*/
/*}*/

/*#Local {*/
    /*background: #f3f3f3;*/
    /*padding: 16px 16px 10px 20px;*/
    /*margin-bottom: 15px;*/
    /*color: #878787;*/
    /*font-size: 24px;*/
    /*display: inline-block;*/
/*}*/

/*#Delhi {*/
    /*background: #f3f3f3;*/
    /*padding: 15px 10px 11px 20px;*/
    /*margin-bottom: 15px;*/
    /*color: #878787;*/
    /*font-size: 12px;*/
    /*display: inline-block;*/
/*}*/

/*#Sydney {*/
    /*background: #f3f3f3;*/
    /*padding: 15px 10px 11px 20px;*/
    /*margin-bottom: 15px;*/
    /*color: #878787;*/
    /*font-size: 12px;*/
    /*text-align: left;*/
    /*display: inline-block;*/
/*}*/

/*#Singapore {*/
    /*background: #f3f3f3;*/
    /*padding: 15px 10px 11px 20px;*/
    /*margin-bottom: 15px;*/
    /*color: #878787;*/
    /*font-size: 12px;*/
    /*text-align: left;*/
    /*display: inline-block;*/
/*}*/

/*#Tokyo {*/
    /*background: #f3f3f3;*/
    /*padding: 15px 10px 11px 20px;*/
    /*margin-bottom: 15px;*/
    /*color: #878787;*/
    /*font-size: 12px;*/
    /*text-align: left;*/
    /*display: inline-block;*/
/*}*/

/*#London {*/
    /*background: #f3f3f3;*/
    /*padding: 15px 10px 11px 20px;*/
    /*margin-bottom: 15px;*/
    /*color: #878787;*/
    /*font-size: 12px;*/
    /*text-align: left;*/
    /*display: inline-block;*/
/*}*/

/*#Washington {*/
    /*background: #f3f3f3;*/
    /*padding: 15px 10px 11px 20px;*/
    /*margin-bottom: 15px;*/
    /*color: #878787;*/
    /*font-size: 12px;*/
    /*text-align: left;*/
    /*display: inline-block;*/
/*}*/

/*#Reykjavik {*/
    /*background: #f3f3f3;*/
    /*padding: 15px 10px 11px 20px;*/
    /*margin-bottom: 15px;*/
    /*color: #878787;*/
    /*font-size: 12px;*/
    /*text-align: left;*/
    /*display: inline-block;*/
/*}*/

/*#Cairo {*/
    /*background: #f3f3f3;*/
    /*padding: 15px 10px 11px 20px;*/
    /*margin-bottom: 15px;*/
    /*color: #878787;*/
    /*font-size: 12px;*/
    /*text-align: left;*/
    /*display: inline-block;*/
/*}*/

#stopBtn {
    display: inline-block;
    font-size: 14px;
    line-height: 1.4;
    color: #333;
    background-color: #fff;
    border-radius: 10px;
    margin: 3%;

}

#stopBtn:hover {
    background-color: #e6e6e6;
    border-color: #adadad;
}

#startBtn {
    display: inline-block;
    font-size: 14px;
    line-height: 1.4;
    color: #333;
    background-color: #fff;
    border-radius: 10px;
    margin: 3%;

}

#startBtn:hover {
    background-color: #e6e6e6;
    border-color: #adadad;
}

#time{
    margin: 5%;
    font-size: 30px;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 1px black;
    background-size: cover;
}


#stopBtn1 {
    display: inline-block;
    font-size: 14px;
    line-height: 1.4;
    color: #333;
    background-color: #fff;
    border-radius: 10px;

}

#stopBtn1:hover {
    background-color: #e6e6e6;
    border-color: #adadad;
}

#startBtn1 {
    display: inline-block;
    font-size: 14px;
    line-height: 1.4;
    color: #333;
    background-color: #fff;
    border-radius: 10px;

}

#startBtn1:hover {
    background-color: #e6e6e6;
    border-color: #adadad;
}


#stopBtn2 {
    display: inline-block;
    font-size: 14px;
    line-height: 1.4;
    color: #333;
    background-color: #fff;
    border-radius: 10px;

}

#stopBtn2:hover {
    background-color: #e6e6e6;
    border-color: #adadad;
}

#startBtn2 {
    display: inline-block;
    font-size: 14px;
    line-height: 1.4;
    color: #333;
    background-color: #fff;
    border-radius: 10px;

}

#startBtn2:hover {
    background-color: #e6e6e6;
    border-color: #adadad;
}


#stopBtn3 {
    display: inline-block;
    font-size: 14px;
    line-height: 1.4;
    color: #333;
    background-color: #fff;
    border-radius: 10px;

}

#stopBtn3:hover {
    background-color: #e6e6e6;
    border-color: #adadad;
}

#startBtn3 {
    display: inline-block;
    font-size: 14px;
    line-height: 1.4;
    color: #333;
    background-color: #fff;
    border-radius: 10px;

}

#startBtn3:hover {
    background-color: #e6e6e6;
    border-color: #adadad;
}


#stopBtn4 {
    display: inline-block;
    font-size: 14px;
    line-height: 1.4;
    color: #333;
    background-color: #fff;
    border-radius: 10px;

}

#stopBtn4:hover {
    background-color: #e6e6e6;
    border-color: #adadad;
}

#startBtn4 {
    display: inline-block;
    font-size: 14px;
    line-height: 1.4;
    color: #333;
    background-color: #fff;
    border-radius: 10px;

}

#startBtn4:hover {
    background-color: #e6e6e6;
    border-color: #adadad;
}


#stopBtn5 {
    display: inline-block;
    font-size: 14px;
    line-height: 1.4;
    color: #333;
    background-color: #fff;
    border-radius: 10px;

}

#stopBtn5:hover {
    background-color: #e6e6e6;
    border-color: #adadad;
}

#startBtn5 {
    display: inline-block;
    font-size: 14px;
    line-height: 1.4;
    color: #333;
    background-color: #fff;
    border-radius: 10px;

}

#startBtn5:hover {
    background-color: #e6e6e6;
    border-color: #adadad;
}

#stopBtn6 {
    display: inline-block;
    font-size: 14px;
    line-height: 1.4;
    color: #333;
    background-color: #fff;
    border-radius: 10px;

}

#stopBtn6:hover {
    background-color: #e6e6e6;
    border-color: #adadad;
}

#startBtn6 {
    display: inline-block;
    font-size: 14px;
    line-height: 1.4;
    color: #333;
    background-color: #fff;
    border-radius: 10px;

}

#startBtn6:hover {
    background-color: #e6e6e6;
    border-color: #adadad;
}